.logo {
  letter-spacing: -.125em;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1;
}

.sub-logo {
  display: inline-block;
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 0;
  padding-bottom: 0;
}

.header-underline {
  margin-top: 0;
  border-top: 5px solid black;
}